<div class="pic">
  <img src="./assets/img/newBurger.png" alt="Burger Fortnite Durr Burger Logo PNG Clipart @.epicentrofestival.com" class="burger">

  <h1>Eat-Da-Damn-Burger!</h1>
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-5">
    <ul>
      {{#each burgers}}
        {{#unless devoured}}
          <li>
            {{id}} {{burger_name}}
            
            <button class="devourIt" data-id="{{id}}" data-devoured="{{devoured}}">
              Devour it!
            </button>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="col-5">
    <ul>
      {{#each burgers}}
        {{#if devoured}}
          <div class="greyback">
            {{id}} {{burger_name}}
          </div>
        {{/if}}
      {{/each}}
    </ul>
  </div>
  <div class="col-1"></div>
</div>
<div class="pic">
  <form class="create-form">

    <div class="form-group">
      <label for="ca">New Burger:</label>
      <input type="text" id="ca" name="burger_name">
      <input type="radio" name="devoured" style="display:none" value="0" checked>
    </div>

    {{!-- <div class="form-group">
      <label for="slee">New Burger:</label><br>
      <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
      <input type="radio" name="sleepy" value="0"> Awake
    </div> --}}

    <button type="submit">Submit!</button>
  </form>
</div>
